@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-background: #eeece9;
  --dust-gray: #2b2b2b;
  --dust-black: #292a29;
  --coal-black: #222222;
  --dull-pink: #a5909b;
  --dull-green: #7e887b;
  --dull-orange: #c3926d;
  --dull-blue: #c1c9d3;
}

/* //ToDo add dark mode themes
[data-theme="dark"] {

} */
